body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 100px;
    background-color: green;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46pt;
    color: black;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.title p{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.titleContainer{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.linkContainer{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.link{
    display: flex;
    color: white;
    text-decoration: none;
    height: 100px;
    width: fit-content;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;
}

.link:hover{
    color: #b3b2b1;
}

.linkText{
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    font-weight: bold;
}


.carousel-caption {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;

}

.carousel-caption p{
    opacity: .9;
    margin-left: 10px;
    margin-right: 10px;
}

.carousel-caption h3{
    margin-left: 10px;
    margin-right: 10px;
}

.pageHeader{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.slide{
    box-shadow: 0 0 20px #707070;
    margin-bottom: 30px;
}

.d-block{
    border-radius: 10px;
}

nav .active {
    background-color: #0d5922;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

nav .active p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.home{
    display: flex;
    flex-direction: column;
}

.animation{
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

